<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
                <blockquote>
                    <p>{{ lang('alias.tiket.kategori.detail') }}</p>
                    <button type="button" class="btn btn-info" v-on:click="refreshData()">{{ lang('button.refresh') }}</button>
                    <button type="button" class="btn btn-info" v-on:click="redirectTo('/tiket/ku/create')">{{ lang('button.create.tiket') }}</button>
                </blockquote>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.tiket.kategori.add') }}</div>
                    <div class="panel-body">
                        <form id="add-tiket-kategori" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="namaKategori">{{ lang('form.tiket.kategori.nama.title') }}</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">{{ lang('form.tiket.kategori.nama.title') }}</div>
                                        <input v-model="tiketKategori.nama_kategori"
                                                type="text" class="form-control" id="namaKategori" v-bind:placeholder="lang('form.tiket.kategori.nama.detail')">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="deskripsiKategori">{{ lang('form.tiket.kategori.deskripsi.title') }}</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">{{ lang('form.tiket.kategori.deskripsi.title') }}</div>
                                        <input v-model="tiketKategori.deskripsi_kategori"
                                                type="text" class="form-control" id="deskripsiKategori" v-bind:placeholder="lang('form.tiket.kategori.deskripsi.detail')">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-info" v-on:click="submitter">{{ lang('button.confirmation.save') }}</button>
                    </div>
                </div>

                <data-filters :base-url="baseUrl+'index/data'"></data-filters>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.tiket.kategori.kategori') }} Data</div>
                    <smart-data-table
                            :columns="smartDataTable.columns"
                            :data-url="baseUrl+'index/data'"
                            :paginate="true"
                            :actionsColumn='false'>
                    </smart-data-table>
                </div>
            </div>
        </div>

        <modal name-id="update" v-bind:name="lang('alias.tiket.kategori.modal.update')">
            <template slot="modal-body">
                <form id="edit-tiket-kategori" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="namaKategori">{{ lang('form.tiket.kategori.nama.title') }}</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">{{ lang('form.tiket.kategori.nama.title') }}</div>
                                <input v-model="tiketKategori.nama_kategori"
                                       type="text" class="form-control" id="namaKategori" v-bind:placeholder="lang('form.tiket.kategori.nama.detail')">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="deskripsiKategori">{{ lang('form.tiket.kategori.deskripsi.title') }}</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">{{ lang('form.tiket.kategori.deskripsi.title') }}</div>
                                <input v-model="tiketKategori.deskripsi_kategori"
                                       type="text" class="form-control" id="deskripsiKategori" v-bind:placeholder="lang('form.tiket.kategori.deskripsi.detail')">
                            </div>
                        </div>
                    </div>
                </form>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-info" v-on:click="yesUpdate()">{{ lang('button.confirmation.save') }}</button>
                <button type="button" class="btn btn-danger" v-on:click="destroy()">{{ lang('button.confirmation.delete') }}</button>
            </template>
        </modal>

        <modal name-id="destroy" v-bind:name="lang('alias.tiket.kategori.modal.delete')">
            <template slot="modal-body">
                <p class="text-danger">{{ lang('messages.modal.tiket.kategori.delete', { kategori: tiketKategori.nama_kategori }) }}</p>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-danger" v-on:click="yesDestroy()">{{ lang('button.confirmation.delete') }}</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import SmartDataTable from './../../../components/SmartDataTable.vue';
    import dataFilters from './../../../components/DataFilters.vue';
    import Modal from './../../../components/Modal.vue';

    export default {
        components: {
            SmartDataTable,
            dataFilters,
            Modal
        },
        data() {
            var vm = this
            return {
                baseUrl: '/manage/kategori/',
                tiketKategori: {
                    nama_kategori: null,
                    deskripsi_kategori: null
                },
                smartDataTable: {
                    columns: {
                        [vm.lang('form.tiket.kategori.id')]: 'id',
                        [vm.lang('form.tiket.kategori.nama.title')]: 'nama_kategori',
                        [vm.lang('form.tiket.kategori.deskripsi.title')]: 'deskripsi_kategori',
                    }
                }
            }
        },
        methods: {
            submitter() {
                var vm = this
                vm.$http.post(vm.baseUrl, vm.$data.tiketKategori).then(response => {
                    vm.notify(vm.$data.tiketKategori.nama_kategori, response.body.message, true)
                    vm.refreshData()
                }, error => {
                    vm.notify(vm.$data.tiketKategori.nama_kategori, error.body.message, false)
                });
            },
            actions(data) {
                this.update(data)
            },
            update(data) {
                this.$set(this, 'tiketKategori', data);
                $('#updateModal').modal('show')
            },
            destroy() {
                $('#destroyModal').modal('show')
            },
            yesUpdate() {
                var vm = this
                vm.$http.put(vm.baseUrl + vm.tiketKategori.id, vm.$data.tiketKategori).then(response => {
                    $('#updateModal').modal('hide')
                    vm.notify(vm.$data.tiketKategori.id, response.body.message, true)
                    vm.refreshData()
                }, error => {
                    vm.notify(vm.$data.tiketKategori.id, error.body.message, false)
                });
            },
            yesDestroy() {
                var vm = this
                vm.$http.delete(vm.baseUrl + vm.tiketKategori.id).then(response => {
                    $('#destroyModal').modal('hide')
                    $('#updateModal').modal('hide')
                    vm.notify(vm.$data.tiketKategori.id, response.body.message, true)
                    vm.refreshData()
                }, error => {
                    vm.notify(vm.$data.tiketKategori.id, error.body.message, false)
                });
            },
            clearData() {
                this.$data.tiketKategori.nama_kategori = null
                this.$data.tiketKategori.deskripsi_kategori = null
            },
            refreshData() {
                this.clearData()
                this.$feel.event.$emit('refreshData')
            },
            redirectTo(url) {
                this.$parent.redirectTo(url)
            },
            notify(title, message, status) {
                this.$parent.notify(title, message, status)
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        }
    }
</script>