<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <blockquote>
                    <p>{{ lang('alias.tiket.rekap.detail') }}</p>
                    <button type="button" class="btn btn-info" v-on:click="refreshData()">{{ lang('button.refresh') }}</button>
                    <button type="button" class="btn btn-info" v-on:click="redirectTo('/tiket/ku/create')">{{ lang('button.create.tiket') }}</button>
                    <button type="button" class="btn btn-success" v-on:click="redirectTo(printQueryUrl)">{{ lang('button.print') }}</button>
                </blockquote>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="date">{{ lang('form.filter.date.title') }}</span>
                            <input v-model="filters.date"
                                   v-on:change="onChangeEvents"
                                   type="date" class="form-control" v-bind:placeholder="lang('form.filter.date.detail')" aria-describedby="date">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon" id="month">{{ lang('form.filter.month.title') }}</span>
                            <input v-model="filters.month"
                                   v-on:change="onChangeEvents"
                                   type="month" class="form-control" v-bind:placeholder="lang('form.filter.month.detail')" aria-describedby="month">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon" id="role">{{ lang('form.filter.role.title') }}</span>
                            <select v-model="filters.role"
                                    v-on:change="onChangeEvents"
                                    class="form-control">
                                <option v-for="role in options.role" v-bind:value="role.id">{{ role.name }} - {{ role.description }}</option>
                            </select>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon" id="unitKerja">{{ lang('form.filter.work_unit.title') }}</span>
                            <select v-model="filters.unit_kerja"
                                    v-on:change="onChangeEvents"
                                    class="form-control">
                                <option v-for="unit in options.unit_kerja" v-bind:value="unit.id">{{ unit.nama }} - {{ unit.deskripsi }}</option>
                            </select>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon" id="orderBy">{{ lang('form.filter.order_by.order_by') }}</span>
                            <select v-model="filters.order_by"
                                    v-on:change="onChangeEvents"
                                    class="form-control">
                                <option v-for="order in options.order_by" v-bind:value="order.key">{{ order.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-footer">
                        {{ lang('form.filter.filter') }} : <button type="button" class="btn btn-info btn-sm" v-on:click="onChangeEvents">{{ lang('button.filter') }}</button>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.tiket.rekap.rekap') }} Data</div>
                    <smart-data-table
                            :columns="smartDataTable.columns"
                            :data-url="baseDataUrl"
                            :paginate="true"
                            :actions-column="false">
                    </smart-data-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SmartDataTable from '../../SmartDataTable.vue';

    export default {
        components: {
            SmartDataTable
        },
        data() {
            var vm = this
            return {
                baseUrl: "/manage/rekap/",
                dataUrl: "index/data",
                queryUrl: [],
                dataQueryUrl: "",
                printQueryUrl: "",
                filters: {
                    date: "",
                    month: "",
                    role: null,
                    unit_kerja: null,
                    order_by: null
                },
                options: {
                    role: [],
                    unit_kerja: [],
                    order_by: [
                        { key: null, name: vm.lang('form.filter.order_by.detail')},
                        { key: "ASC", name: vm.lang('form.filter.order_by.asc')},
                        { key: "DESC", name: vm.lang('form.filter.order_by.desc')}
                    ]
                },
                smartDataTable: {
                    columns: {
                        id_laporan: 'id',
                        unit_kerja: 'unit_kerja.nama',
                        kategori: 'kategori.nama_kategori',
                        deskripsi: 'deskripsi_tiket',
                        solusi: 'solution.solusi',
                        prioritas: 'prioritas_tiket',
                        tanggal_pembuatan: 'created_at',
                        tanggal_perubahan: 'updated_at'
                    }
                }
            }
        },
        computed: {
            baseDataUrl: function () {
                return this.$data.baseUrl + this.$data.dataUrl
            }
        },
        methods: {
            setDefaultOptions() {
                this.$data.options.role.push({
                    id: null,
                    name: this.lang('form.filter.role.detail'),
                    description: ". . ."
                })
                this.$data.options.unit_kerja.push({
                    id: null,
                    nama: this.lang('form.filter.work_unit.detail'),
                    deskripsi: ". . ."
                })
            },
            getOptions() {
                var vm = this
                vm.$http.get(vm.$data.baseUrl + 'index/options/?role=true&unitKerja=true').then( response => {
                    vm.$set(vm.$data.options, 'role', response.body.role)
                    vm.$set(vm.$data.options, 'unit_kerja', response.body.unit_kerja)
                    this.setDefaultOptions()
                })
            },
            getFilterDate() {
                this.$data.queryUrl.push("date=" + this.$data.filters.date)
            },
            getFilterMonth() {
                var month = this.$data.filters.month.split('-')
                this.$data.queryUrl.push("month=" + _.last(month))
            },
            getFilterRole() {
                this.$data.queryUrl.push("role=" + this.$data.filters.role)
            },
            getFilterUnitKerja() {
                this.$data.queryUrl.push("unitKerja=" + this.$data.filters.unit_kerja)
            },
            getFilterOrderBy() {
                this.$data.queryUrl.push("orderBy=" + this.$data.filters.order_by)
            },
            onChangeDataFilters: function () {
                var vm = this

                var queryUrl = ""
                _.forEach(vm.$data.queryUrl, function (query, key) {
                    var querySplit = query.split('=')
                    if (_.last(querySplit) != "" && _.last(querySplit) != "null") {
                        queryUrl += query + "&"
                    }
                })
                vm.$data.queryUrl = []
                queryUrl = "?" + queryUrl.slice(0, -1)

                vm.$set(vm.$data, "dataQueryUrl", vm.baseDataUrl + queryUrl)
                vm.$set(vm.$data, "printQueryUrl", vm.$data.baseUrl + 'pdf/' + queryUrl)

                // Observe the table
                this.$feel.event.$emit('getDataTable', vm.$data.dataQueryUrl)
            },
            onChangeEvents: function () {
                this.getOptions()
                this.getFilterDate()
                this.getFilterMonth()
                this.getFilterRole()
                this.getFilterUnitKerja()
                this.getFilterOrderBy()
                this.onChangeDataFilters()
            },
            actions(data) {

            },
            refreshData() {
                this.$feel.event.$emit('refreshData');
            },
            redirectTo(url) {
                this.$parent.redirectTo(url)
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        },
        mounted() {
            this.getOptions()
            this.$set(this.$data, "printQueryUrl", this.$data.baseUrl + 'pdf/')
        }
    }
</script>