<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <blockquote>
                    <p>ID - {{ lang('alias.tiket.tiket') }} - {{ tiketId }}</p>
                    <button type="button" class="btn btn-info" v-on:click="refreshData()">{{ lang('button.refresh') }}</button>
                    <button type="button" class="btn btn-success" v-on:click="redirectTo(baseUrl + tiketId + '/pdf/')">{{ lang('button.print') }}</button>
                </blockquote>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="tabel table-condensed">
                            <tbody>
                                <tr>
                                    <td>{{ lang('form.tiket.id') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.id }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.user.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.user.name }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.nama_pelapor.title') }}</td>
                                    <td>:</td>
                                    <td><input type="text" v-model="tiket.get.nama_pelapor"></td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.prioritas.title') }}</td>
                                    <td>:</td>
                                    <td><input type="text" v-model="tiket.get.prioritas_tiket"></td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.status.title') }}</td>
                                    <td>:</td>
                                    <td><input type="text" v-model="tiket.get.status_tiket"></td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.created_at.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.created_at }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.updated_at.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.updated_at }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.judul.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.nama_tiket }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.deskripsi.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.deskripsi_tiket }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.unit_kerja.title') }}</td>
                                    <td>:</td>
                                    <td>
                                        <select v-on:click="getUnitKerja" v-model="tiket.get.unit_kerja_id">
                                            <option v-for="unit in tiketUnitKerja"
                                                    v-bind:value="unit.id">
                                                {{ unit.nama }} - {{ unit.deskripsi }}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.kategori.title') }}</td>
                                    <td>:</td>
                                    <td>
                                        <span v-for="kategori in tiket.get.kategori"
                                              style="margin-right:2px;"
                                              class="label label-default">
                                            {{ kategori.nama_kategori }} - {{ kategori.deskripsi_kategori }}
                                        </span>
                                    </td>
                                    <td>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-success"
                                            v-on:click="updateKategori()">
                                            {{ lang('button.confirmation.update') }}
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.teknisi.title') }}</td>
                                    <td>:</td>
                                    <td>
                                        <span v-for="teknisi in tiket.get.teknisi"
                                              style="margin-right:2px;"
                                              class="label label-default">
                                            {{ teknisi.name }}
                                        </span>
                                    </td>
                                    <td>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-success"
                                            v-on:click="updateTeknisi()">
                                            {{ lang('button.confirmation.update') }}
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.vote.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.vote_tiket }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.faq.title') }}</td>
                                    <td>:</td>
                                    <td>
                                        <input type="checkbox"
                                               v-bind:true-value="1"
                                               v-bind:false-value="0"
                                               v-model="tiket.set.faq">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.tiket.show.kesimpulan.kesimpulan') }}</div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="analisis">{{ lang('form.tiket.kesimpulan.analisis.title') }}</span>
                            <input v-model="tiket.set.solution.analisis"
                                    type="text" class="form-control" v-bind:placeholder="lang('form.tiket.kesimpulan.analisis.detail')" aria-describedby="analisis">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon" id="solusi">{{ lang('form.tiket.kesimpulan.solusi.title') }}</span>
                            <textarea v-model="tiket.set.solution.solusi"
                                      type="text" class="form-control" v-bind:placeholder="lang('form.tiket.kesimpulan.solusi.detail')" aria-describedby="solusi"></textarea>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info" v-on:click="updateTiket()">{{ lang('button.confirmation.save') }}</button>
                        <button type="button" class="btn btn-danger" v-on:click="destroyTiket()">{{ lang('button.confirmation.delete') }}</button>
                    </div>
                </div>

                <tiket-info :tiket-base-url="baseUrl" :tiket-id="tiketId"></tiket-info>

                <modal name-id="kategori" v-bind:name="lang('alias.tiket.show.modal.kategori.kategori')">
                    <template slot="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <th>#</th>
                                <th>{{ lang('alias.tiket.show.modal.kategori.id') }}</th>
                                <th>{{ lang('alias.tiket.show.modal.kategori.nama') }}</th>
                                <th>{{ lang('alias.tiket.show.modal.kategori.deskripsi') }}</th>
                            </thead>
                            <tbody>
                                <tr v-for="kategori in tiketKategori">
                                    <td><input type="checkbox" name="kategori"
                                               v-bind:value="kategori.id" v-model="tiket.set.kategori">
                                    </td>
                                    <td>{{ kategori.id }}</td>
                                    <td>{{ kategori.nama_kategori }}</td>
                                    <td>{{ kategori.deskripsi_kategori }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </template>
                    <template slot="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                        <button type="button" class="btn btn-info" v-on:click="yesUpdateKategori()">{{ lang('button.confirmation.save') }}</button>
                    </template>
                </modal>

                <modal name-id="teknisi" v-bind:name="lang('alias.tiket.show.modal.teknisi.teknisi')">
                    <template slot="modal-body">
                        <table class="table table-striped">
                            <thead>
                            <th>#</th>
                            <th>{{ lang('alias.tiket.show.modal.teknisi.id') }}</th>
                            <th>{{ lang('alias.tiket.show.modal.kategori.nama') }}</th>
                            </thead>
                            <tbody>
                            <tr v-for="teknisi in tiketTeknisi">
                                <td><input type="checkbox" name="kategori"
                                           v-bind:value="teknisi.id" v-model="tiket.set.teknisi">
                                </td>
                                <td>{{ teknisi.id }}</td>
                                <td>{{ teknisi.name }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </template>
                    <template slot="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                        <button type="button" class="btn btn-info" v-on:click="yesUpdateTeknisi()">{{ lang('button.confirmation.save') }}</button>
                    </template>
                </modal>

                <modal name-id="destroyTiket" v-bind:name="lang('alias.tiket.show.modal.delete.delete')">
                    <template slot="modal-body">
                        <p class="text-danger">{{ lang('messages.modal.tiket.show.delete', { tiketId: tiketId }) }}</p>
                    </template>
                    <template slot="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                        <button type="button" class="btn btn-danger" v-on:click="yesDestroyTiket()">{{ lang('button.confirmation.delete') }}</button>
                    </template>
                </modal>
            </div>
        </div>
    </div>
</template>

<script>
    import TiketInfo from '../tiket/TiketInfo.vue'
    import Modal from '../../../components/Modal.vue'

    export default {
        components: {
            TiketInfo, Modal
        },
        props: {
            tiketId: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                baseUrl: "/manage/tiket/",
                tiket: {
                    get: {
                        user: [],
                        nama_pelapor: "",
                        unit_kerja_id: "",
                        kategori: [],
                        teknisi: [],
                        tiketInfo: [],
                        solution: []
                    },
                    set: {
                        nama_pelapor: null,
                        prioritas_tiket: null,
                        status_tiket: null,
                        unit_kerja_id: null,
                        kategori: [],
                        teknisi: [],
                        solution: {
                            analisis: null,
                            solusi: null
                        },
                        faq: null
                    }
                },
                tiketUnitKerja: [],
                tiketKategori: [],
                tiketTeknisi: [],
                tiketInfo: []
            }
        },
        watch: {
            'tiket.get.nama_pelapor': function (val) {
                this.$data.tiket.set.nama_pelapor = val
            },
            'tiket.get.prioritas_tiket': function (val) {
                this.$data.tiket.set.prioritas_tiket = val
            },
            'tiket.get.status_tiket': function (val) {
                this.$data.tiket.set.status_tiket = val
            },
            'tiket.get.unit_kerja_id': function (val) { /* gkgk kerubah */
                console.log(val)
                this.$data.tiket.set.unit_kerja_id = val
            },
            'tiket.get.kategori': function(val) {
                var vm = this
                vm.$data.tiket.set.kategori = []
                _.forEach(val, function (_val, _key) {
                    vm.$data.tiket.set.kategori.push(_val.id)
                })
            },
            'tiket.get.teknisi': function (val) {
                var vm = this
                vm.$data.tiket.set.teknisi = []
                _.forEach(val, function (_val, _key) {
                    vm.$data.tiket.set.teknisi.push(_val.id)
                })
            },
            'tiket.get.solution.analisis': function (val) {
                this.$data.tiket.set.solution.analisis = val
            },
            'tiket.get.solution.solusi': function (val) {
                this.$data.tiket.set.solution.solusi = val
            },
            'tiket.get.faq': function (val) {
                this.$data.tiket.set.faq = val
            }
        },
        methods: {
            getTiket() {
                var vm = this
                vm.$http.get(vm.baseUrl + "index/find/" + this.tiketId).then(response => {
                    vm.$set(vm.tiket, 'get', vm.$root.filterNulls(response.body))
                }, error => {
                    console.log(error)
                })
            },
            getUnitKerja() {
                var vm = this
                vm.$http.get(vm.baseUrl + "index/options?unitkerja=true").then(response => {
                    vm.$set(vm, 'tiketUnitKerja', response.body.unitKerja)
                }, error => {
                    console.log(error)
                })
            },
            getKategori() {
                var vm = this
                vm.$http.get(vm.baseUrl + "index/options?kategori=true").then(response => {
                    vm.$set(vm, 'tiketKategori', response.body.kategori)
                }, error => {
                    console.log(error)
                })
            },
            getTeknisi() {
                var vm = this
                vm.$http.get(vm.baseUrl + "index/options?teknisi=true").then(response => {
                    vm.$set(vm, 'tiketTeknisi', response.body.teknisi)
                }, error => {
                    console.log(error)
                })
            },
            getTiketInfo() {

            },
            updateTiket() {
                var vm = this
                vm.$http.put(vm.baseUrl + vm.tiketId, vm.tiket).then(response => {
                    vm.refreshData()
                    vm.notify(this.lang('messages.success.tiket.update.title', { tiket: vm.$data.tiket.get.id}), response.body.message, true)
                }, error => {
                    vm.notify(vm.$data.tiket.get, error, false)
                    console.log(error);
                });
            },
            updateKategori() {
                this.getKategori();
                $('#kategoriModal').modal('show');
            },
            updateTeknisi() {
                this.getTeknisi();
                $('#teknisiModal').modal('show');
            },
            yesUpdateKategori() {
                $('#kategoriModal').modal('hide');
                this.notify(this.lang('messages.pending.title'), this.lang('messages.pending.detail'), false);
            },
            yesUpdateTeknisi() {
                $('#teknisiModal').modal('hide');
                this.notify(this.lang('messages.pending.title'), this.lang('messages.pending.detail'), false);
            },
            destroyTiket() {
                $('#destroyTiketModal').modal('show');
            },
            yesDestroyTiket() {
                var vm = this
                vm.$http.delete(vm.baseUrl + vm.tiketId).then(response => {
                    vm.redirectTo(vm.baseUrl)
                }, error => {
                    console.log(error)
                })
            },
            refreshData() {
                this.getUnitKerja()
                this.getTiket()
                this.$feel.event.$emit('refreshData')
            },
            redirectTo(url) {
                this.$parent.redirectTo(url)
            },
            notify(title, message, status) {
                this.$parent.notify(title, message, status)
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        },
        mounted() {
            this.refreshData()
        }
    }
</script>