<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
                <blockquote>
                    <p>{{ lang('alias.manage.unit_kerja.detail') }}</p>
                    <button type="button" class="btn btn-info" v-on:click="refreshData()">{{ lang('button.refresh') }}</button>
                </blockquote>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.manage.unit_kerja.add') }}</div>
                    <div class="panel-body">
                        <form id="add-unit-kerja" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="nama">{{ lang('form.unit_kerja.nama.title') }}</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">{{ lang('form.unit_kerja.nama.title') }}</div>
                                        <input v-model="unitKerja.nama"
                                                type="text" class="form-control" id="nama"
                                               v-bind:placeholder="lang('form.unit_kerja.nama.detail')">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="deskripsi">{{ lang('form.unit_kerja.deskripsi.title') }}</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">{{ lang('form.unit_kerja.deskripsi.title') }}</div>
                                        <input v-model="unitKerja.deskripsi"
                                                type="text" class="form-control" id="deskripsi"
                                               v-bind:placeholder="lang('form.unit_kerja.deskripsi.detail')">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-info" v-on:click="submitter">{{ lang('button.confirmation.save') }}</button>
                    </div>
                </div>

                <data-filters :base-url="baseUrl+'index/data'"></data-filters>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.manage.unit_kerja.unit_kerja') }} Data</div>
                    <smart-data-table
                            :data-url="baseUrl+'index/data'"
                            :paginate="true"
                            :actionsColumn='false'>
                    </smart-data-table>
                </div>
            </div>
        </div>

        <modal name-id="update" v-bind:name="lang('alias.manage.unit_kerja.modal.update')">
            <template slot="modal-body">
                <form id="edit-unit-kerja" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="nama">{{ lang('form.unit_kerja.nama.title') }}</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">{{ lang('form.unit_kerja.nama.title') }}</div>
                                <input v-model="unitKerja.nama"
                                       type="text" class="form-control" id="nama"
                                       v-bind:placeholder="lang('form.unit_kerja.nama.detail')">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="deskripsi">{{ lang('form.unit_kerja.deskripsi.title') }}</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">{{ lang('form.unit_kerja.deskripsi.title') }}</div>
                                <input v-model="unitKerja.deskripsi"
                                       type="text" class="form-control" id="deskripsi"
                                       v-bind:placeholder="lang('form.unit_kerja.deskripsi.detail')">
                            </div>
                        </div>
                    </div>
                </form>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-info" v-on:click="yesUpdate()">{{ lang('button.confirmation.update') }}</button>
                <button type="button" class="btn btn-danger" v-on:click="destroy()">{{ lang('button.confirmation.delete') }}</button>
            </template>
        </modal>

        <modal name-id="destroy" v-bind:name="lang('alias.manage.unit_kerja.modal.delete')">
            <template slot="modal-body">
                <p class="text-danger">{{ lang('messages.modal.unit_kerja.delete.title', { nama: unitKerja.nama, deskripsi: unitKerja.deskripsi }) }}</p>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-danger" v-on:click="yesDestroy()">{{ lang('button.confirmation.delete') }}</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import SmartDataTable from './../SmartDataTable.vue';
    import dataFilters from './../DataFilters.vue';
    import Modal from './../Modal.vue';

    export default {
        components: {
            SmartDataTable,
            dataFilters,
            Modal
        },
        data() {
            return {
                baseUrl: '/manage/unitkerja/',
                unitKerja: {
                    nama: null,
                    deskripsi: null
                }
            }
        },
        methods: {
            submitter() {
                var vm = this
                vm.$http.post(vm.baseUrl, vm.$data.unitKerja).then(response => {
                    vm.notify(vm.$data.unitKerja.nama, response.body.message, true)
                    vm.refreshData()
                }, error => {
                    vm.notify(vm.$data.unitKerja.nama, error.body.message, false)
                });
            },
            actions(data) {
                this.update(data)
            },
            update(data) {
                this.$set(this, 'unitKerja', data);
                $('#updateModal').modal('show')
            },
            destroy() {
                $('#destroyModal').modal('show')
            },
            yesUpdate() {
                var vm = this
                vm.$http.put(vm.baseUrl + vm.unitKerja.id, vm.$data.unitKerja).then(response => {
                    $('#updateModal').modal('hide')
                    vm.notify(vm.$data.unitKerja.id, response.body.message, true)
                    vm.refreshData()
                }, error => {
                    vm.notify(vm.$data.unitKerja.id, error.body.message, false)
                });
            },
            yesDestroy() {
                var vm = this
                vm.$http.delete(vm.baseUrl + vm.unitKerja.id).then(response => {
                    $('#destroyModal').modal('hide')
                    $('#updateModal').modal('hide')
                    vm.notify(vm.$data.unitKerja.id, response.body.message, true)
                    vm.refreshData()
                }, error => {
                    vm.notify(vm.$data.unitKerja.id, error.body.message, false)
                });
            },
            clearData() {
                this.$data.unitKerja.nama = null
                this.$data.unitKerja.deskripsi = null
            },
            refreshData() {
                this.clearData()
                this.$feel.event.$emit('refreshData')
            },
            redirectTo(url) {
                this.$parent.redirectTo(url)
            },
            notify(title, message, status) {
                this.$parent.notify(title, message, status)
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        }
    }
</script>