<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <blockquote>
                    <p>{{ lang('alias.manage.user.detail') }}</p>
                    <button type="button" class="btn btn-info" v-on:click="refreshData()">{{ lang('button.refresh') }}</button>
                    <button type="button" class="btn btn-info" v-on:click="redirectTo('/user/register')">{{ lang('button.create.user') }}</button>
                </blockquote>

                <data-filters :base-url="data.baseUrl+'index/data'"></data-filters>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.manage.user.user') }} Data</div>
                    <smart-data-table
                            :columns="smartDataTable.columns"
                            :data-url="data.baseUrl+'index/data'"
                            :paginate="true"
                            :actionsColumn="true">
                    </smart-data-table>
                </div>
            </div>
        </div>

        <modal name-id="update" v-bind:name="lang('alias.manage.user.modal.update.title')">
            <template slot="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username" class="control-label">{{ lang('form.user.username.title') }}</label>
                        <input type="text" class="form-control"
                               v-bind:placeholder="lang('form.user.username.detail')"
                               id="username" v-model.lazy="data.user.get.name">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">{{ lang('form.user.email.title') }}</label>
                        <input type="email" class="form-control"
                               v-bind:placeholder="lang('form.user.email.detail')"
                               id="email" v-model.lazy="data.user.get.email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">{{ lang('form.user.password.title') }}</label>
                        <input type="password" class="form-control" id="password"
                               v-bind:placeholder="lang('form.user.password.detail')"
                               v-model.lazy="data.user.get.password">
                    </div>
                    <div class="form-group">
                        <label for="full_name" class="control-label">{{ lang('form.user.full_name.title') }}</label>
                        <input type="text" class="form-control" id="full_name"
                               v-bind:placeholder="lang('form.user.full_name.detail')"
                               v-model.lazy="data.user.get.identitas.nama_lengkap">
                    </div>
                    <div class="form-group">
                        <label for="tgl_lahir" class="control-label">{{ lang('form.user.birth_date.title') }}</label>
                        <input type="datetime" class="form-control" id="tgl_lahir"
                               v-bind:placeholder="lang('form.user.birth_date.detail')"
                               v-model.lazy="data.user.get.identitas.tanggal_lahir">
                    </div>
                    <div class="form-group">
                        <label for="tempat_lahir" class="control-label">{{ lang('form.user.birth_place.title') }}</label>
                        <input type="text" class="form-control" id="tempat_lahir"
                               v-bind:placeholder="lang('form.user.birth_place.detail')"
                               v-model.lazy="data.user.get.identitas.tempat_lahir">
                    </div>
                    <div class="form-group">
                        <label for="alamat" class="control-label">{{ lang('form.user.address.title') }}</label>
                        <input type="text" class="form-control" id="alamat"
                               v-bind:placeholder="lang('form.user.address.detail')"
                               v-model.lazy="data.user.get.identitas.alamat">
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label">{{ lang('form.user.status.title') }}</label>
                        <input type="text" class="form-control" id="status"
                               v-bind:placeholder="lang('form.user.status.detail')"
                               v-model.lazy="data.user.get.identitas.status">
                    </div>
                    <div class="form-group">
                        <label for="jabatan" class="control-label">{{ lang('form.user.chair.title') }}</label>
                        <input type="text" class="form-control" id="jabatan"
                               v-bind:placeholder="lang('form.user.chair.detail')"
                               v-model.lazy="data.user.get.identitas.jabatan">
                    </div>
                    <div class="form-group">
                        <label for="unitKerja" class="control-label">{{ lang('form.user.work_unit.title') }}</label>
                        <select class="form-control" id="unitKerja"
                                v-model="data.user.set.selected.unit_kerja_id">
                            <option v-for="unit in data.unitKerjaOptions"
                                    v-bind:value="unit.id">{{ unit.nama }} - {{ unit.deskripsi }}</option>
                        </select>
                    </div>
                    <div class="form-group has-danger">
                        <label for="active" class="control-label">{{ lang('form.user.active.title') }}</label>
                        <label class="radio-inline" for="active">
                            <input type="checkbox" id="active"
                                   v-bind:true-value="1"
                                   v-bind:false-value="0"
                                   v-model.lazy="data.user.set.selected.active">
                        </label>
                    </div>
                    <div class="form-group has-warning">
                        <label for="" class="control-label">{{ lang('form.user.role.title') }}</label>
                        <label class="radio-inline" v-for="role in data.rolesOptions" v-bind:for="'role' + role.id">
                            <input type="checkbox" name="rolesOptions"
                                   v-bind:id="'role' + role.id"
                                   v-bind:value="role.id"
                                   v-model.lazy="data.user.set.selected.roles">
                            {{ role.name }}
                        </label>
                        <br>
                        <label v-for="role in data.user.get.roles"><span>{{role.id + '- ' + role.name + ', '}}</span></label>
                    </div>
                </form>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-primary" v-on:click="yesUpdate(data.user)">{{ lang('button.confirmation.update') }}</button>
            </template>
        </modal>

        <modal name-id="destroy" v-bind:name="lang('alias.manage.user.modal.delete.title')">
            <template slot="modal-body">
                <p class="text-danger">{{ lang('messages.modal.user.delete.title', { username: data.user.get.name, full_name: data.user.get.identitas.nama_lengkap} ) }}</p>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-danger" v-on:click="yesDestroy(data.user)">{{ lang('button.confirmation.delete') }}</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import smartDataTable from '../SmartDataTable.vue';
    import dataFilters from '../DataFilters.vue';
    import Modal from '../Modal.vue';

    export default {
        components: {
            smartDataTable, dataFilters, Modal
        },
        data() {
            var vm = this
            return {
                data: {
                    baseUrl: '/manage/user/',
                    user: {
                        get: {
                            name: String,
                            email: String,
                            password: String,
                            identitas: {
                                nama_lengkap: String,
                                tanggal_lahir: Date,
                                tempat_lahir: String,
                                alamat: String,
                                status: String,
                                jabatan: String
                            },
                            unit_kerja_id: null,
                            active: null,
                            roles: {}
                        },
                        set: {
                            selected: {
                                unit_kerja_id: null,
                                active: null,
                                roles: []
                            }
                        }
                    },
                    unitKerjaOptions: [],
                    rolesOptions: []
                },
                smartDataTable: {
                    columns: {
                        [vm.lang('form.user.id.title')]: 'id',
                        [vm.lang('form.user.username.title')]: 'name',
                        [vm.lang('form.user.email.title')]: 'email',
                        [vm.lang('form.user.work_unit.title')]: 'unit_kerja.nama',
                        [vm.lang('form.user.active.title')]: 'active',
                        [vm.lang('form.user.created_at.title')]: 'created_at',
                        [vm.lang('form.user.updated_at.title')]: 'updated_at'
                    }
                }
            }
        },
        watch: {
            'data.user.get.active': function (val) {
                var vm = this
                vm.$data.data.user.set.selected.active = val
            },
            'data.user.get.roles': function (val) {
                var vm = this
                vm.$data.data.user.set.selected.roles = []
                _.forEach(val, function (_val, _key) {
                    vm.$data.data.user.set.selected.roles.push(_val.id)
                })
            },
            'data.user.get.unit_kerja_id': function (val) {
                var vm = this
                vm.$data.data.user.set.selected.unit_kerja_id = val
            }
        },
        methods: {
            setCurrentUser: function (data) {
                var vm = this
                vm.$set(vm.data.user, 'get', data)
            },
            getOptions: function () {
                var vm = this
                vm.$http.get(vm.$data.data.baseUrl+'index/options').then(responses => {
                    vm.$set(vm.$data.data, 'unitKerjaOptions', responses.body.unitKerja)
                    vm.$set(vm.$data.data, 'rolesOptions', responses.body.roles)
                })
            },
            update: function (data) {
                var vm = this
                vm.setCurrentUser(data)
                $('#updateModal').modal('show').on('shown.bs.modal', function (event) {
                })
            },
            destroy: function (data) {
                var vm = this
                vm.setCurrentUser(data)
                $('#destroyModal').modal('show').on('shown.bs.modal', function (event) {
                })
            },
            yesUpdate: function (data) {
                var vm = this
                vm.$http.put(vm.$data.data.baseUrl + data.get.id, data).then(response => {
                    vm.notify(data.get.name, response.body.message, true)
                    $('#updateModal').modal('hide')
                    vm.refreshData()
                }, error => {
                    vm.notify(data.get.name, error.body.message, false)
                    console.log(error)
                    vm.refreshData()
                })
            },
            yesDestroy: function (data) {
                var vm = this
                vm.$http.delete(vm.$data.data.baseUrl + data.get.id).then(response => {
                    vm.notify(data.get.name, response.body.message, true)
                    $('#destroyModal').modal('hide')
                    vm.refreshData()
                }, error => {
                    vm.notify(data.get.name, error.body.message, false)
                    console.log(error)
                    vm.refreshData()
                })
            },
            redirectTo(url) {
                this.$parent.redirectTo(url)
            },
            clearData: function () {
                var vm = this
                vm.data.user.set.selected.roles = []
            },
            refreshData: function () {
                this.$feel.event.$emit('refreshData')
                this.getOptions()
                this.clearData()
            },
            notify(title, message, status) {
                this.$parent.notify(title, message, status)
            },
            onChangeDataFilters(queryUrl) {

            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        },
        beforeMount() {
            this.refreshData()
        }
    }
</script>