<template>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon" id="searchId">{{ lang('form.filter.by_id') }}</span>
                <input v-model="searchId"
                       v-on:change="onChangeEvents"
                       type="number" class="form-control" v-bind:placeholder="lang('form.filter.by_id')" aria-describedby="searchId">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="search">{{ lang('form.filter.search') }}</span>
                <input v-model="search"
                       v-on:change="onChangeEvents"
                        type="text" class="form-control" v-bind:placeholder="lang('form.filter.search')" aria-describedby="search">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="orderBy">{{ lang('form.filter.order_by.order_by') }}</span>
                <select v-model="orderBy"
                        v-on:change="onChangeEvents"
                        class="form-control">
                    <option v-for="order in options.orderBy" v-bind:value="order.key">{{ order.name }}</option>
                </select>
            </div>
        </div>
        <div class="panel-footer">
            {{ lang('form.filter.filter') }} | <button type="button" class="btn btn-info btn-sm" v-on:click="onChangeEvents">{{ lang('button.filter') }}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            baseUrl: {
                required: true
            }
        },
        data() {
            return {
                search: null,
                searchId: null,
                orderBy: null,
                queryUrl: [],
            }
        },
        computed: {
            options: function () {
                var vm = this
                return {
                    orderBy: [
                        {key: "null", name: vm.lang('form.filter.order_by.detail')},
                        {key: "ASC", name: vm.lang('form.filter.order_by.asc')},
                        {key: "DESC", name: vm.lang('form.filter.order_by.desc')}
                    ]
                }
            }
        },
        methods: {
            getSearch: function () {
                this.$data.queryUrl.push("search=" + this.$data.search)
            },
            getSearchId: function () {
                this.$data.queryUrl.push("searchId=" + this.$data.searchId)
            },
            getOrderBy: function () {
                this.$data.queryUrl.push("orderBy=" + this.$data.orderBy)
            },
            onChangeDataFilters: function () {
                var vm = this

                var queryUrl = ""
                _.forEach(vm.$data.queryUrl, function (query, key) {
                    var querySplit = query.split('=')
                    if (_.last(querySplit) != "" && _.last(querySplit) != "null") {
                        queryUrl += query + "&"
                    }
                })
                vm.$data.queryUrl = []
                queryUrl = vm.baseUrl + "?" + queryUrl.slice(0, -1)


                // Observe the table
                this.$feel.event.$emit('getDataTable', queryUrl)

                // Observe parent
                if (typeof this.$parent.onChangeDataFilters === 'function') {
                    this.$parent.onChangeDataFilters(queryUrl)
                }
            },
            onChangeEvents: function () {
                this.getSearch()
                this.getSearchId()
                this.getOrderBy()
                this.onChangeDataFilters()
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        },
        mounted() {

        }
    }
</script>