<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
          <thead>
            <th v-for="key in keys">{{key}}</th>
            <th v-bind:style="{width:12+'%'}" v-if="actionColumn">Action</th>
          </thead>
          <tbody>
            <tr v-for="value in response" v-on:click="actions(value)">
                <td v-for="key in value">{{key}}</td>
                <template v-if="actionColumn">
                    <td>
                    <div class="btn-group btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" v-on:click="update(value)">Update</button>
                        <button type="button" class="btn btn-danger" v-on:click="destroy(value)">Delete</button>
                    </div>
                    </td>
                </template>
            </tr>
          </tbody>
        </table>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        props: {
            dataUrl: {
                required: true
            },
            setColumns: {
                type: Object,
                required: false
            },
            actionColumn: {
                type: Boolean,
                default: false,
                required: false
            }
        },
        data() {
            return {
                data: {

                }
            }
        },
        methods: {
            actions: function (data) {
                if (!this.actionColumn) {
                    this.$parent.actions(data)
                }
            },
            update: function (data) {
                this.$parent.update(data)
            },
            destroy: function (data) {
                this.$parent.destroy(data)
            },
            ...mapActions({
                getDataTable: 'dataTable/getDataTable'
            })
        },
        computed: {
            ...mapState({
                response: state => state.dataTable.response,
                keys: state => state.dataTable.keys
            })
        },
        mounted() {
            this.getDataTable(this.dataUrl)
            console.log('Table mounted.')
        }
    }
</script>
