<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
        <div class="col-xs-6 col-md-6 col-lg-6 my-menu">
            <a v-bind:href="myMenu.url" v-bind:style="{width:100+'%', height:200+'px', position:'relative'}" class="thumbnail">
                <div class="my-menu" v-set-my-menu="myMenu" v-bind:style="{width:100+'%', height:100+'%'}">
                    <div class="">
                        <p>{{ myMenu.name }}</p>
                        <span>{{ myMenu.description }}</span>
                    </div>
                </div>
            </a>
        </div>
</template>

<script>
    export default {
        props: {
            myMenu: Object
        },
        directives: {
            setMyMenu: function (element) {
                element.style.backgroundColor = RandomColor({
                    luminosity: 'bright'
                });
            }
        },
        methods: {
        },
        mounted () {
            console.log('My Menu created!')
        }
    }
</script>