<template>
    <div class="table-responsive">
        <table v-bind:class="['table', onPanel ? '' : 'table-bordered', 'table-striped', 'table-hover', 'table-responsive']" id="table">
            <thead>
                <template v-if="numberColumn">
                    <th>#</th>
                </template>
                <template v-if="isCustomColumnsName">
                    <th v-for="name in dataColumns.name" v-on:click="">
                        {{ name | columnize }}
                    </th>
                </template>
                <template v-else>
                    <th v-for="key in dataColumns" v-on:click="">
                        {{ key | columnize }}
                    </th>
                </template>
                <th v-bind:style="{width:12+'%'}" v-if="actionsColumn">{{ lang('alias.table.action') }}</th>
            </thead>
            <tbody>
                <tr v-for="(value, index) in dataEntry.data" v-on:click="actions(value)">
                    <template v-if="numberColumn">
                        <td>{{ index + 1 }}</td>
                    </template>
                    <template v-if="isCustomColumnsName">
                        <td v-for="key in dataColumns.keys">{{ columnData(value, key) }}</td>
                    </template>
                    <template v-else>
                        <td v-for="key in dataColumns">{{ columnData(value, key) }}</td>
                    </template>
                    <template v-if="actionsColumn">
                        <td>
                            <div class="btn-group btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary" v-on:click="update(value)">{{ lang('button.confirmation.update') }}</button>
                                <button type="button" class="btn btn-danger" v-on:click="destroy(value)">{{ lang('button.confirmation.delete') }}</button>
                            </div>
                        </td>
                    </template>
                </tr>
            </tbody>
        </table>

        <template v-if="onPanel"><hr/></template>

        <template v-if="paginate">
            <nav aria-label="Smart Table Page Navigation">
                <ul v-bind:class="['pagination', { 'smart-table-pagination': onPanel}]">
                    <li>
                        <a v-on:click="getData(dataEntry.paginate.prev_page_url)"
                           v-bind:class="{ disabled: prev }"
                           href="#table"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="i in dataEntry.paginate.last_page"
                        v-bind:class="{active: i == dataEntry.paginate.current_page}">
                        <a v-on:click="getData(indexPageUrl(i))" href="#table">{{ i }}</a>
                    </li>
                    <li>
                        <a v-on:click="getData(dataEntry.paginate.next_page_url)"
                           v-bind:class="{ disabled: next }"
                           href="#table"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </template>
    </div>
</template>

<script>
    export default {
        props: {
            options: {
                type: Array,
                required: false
            },
            dataUrl: {
                type: String,
                required: false
            },
            columns: {
                required: false
            },
            entry: {
                type: Array,
                required: false
            },
            paginate: {
                type: Boolean,
                required: false
            },
            actionsColumn: {
                type: Boolean,
                required: false
            },
            numberColumn: {
                type: Boolean,
                required: false,
                default: true
            },
            onPanel: {
                type: Boolean,
                required: false,
                default: true
            }
        },
        data() {
            return {
                dataColumns: {
                    name: [],
                    keys: []
                },
                dataEntry: {
                    data: [],
                    paginate: []
                },
                current_data_url: null,
                refreshCount: 0,
                isCustomColumnsName: false,
            }
        },
        computed: {
            prev() {
                return this.$data.dataEntry.paginate.prev_page_url == null
            },
            next() {
                return this.$data.dataEntry.paginate.next_page_url == null
            },
        },
        methods: {
            lang(key, replacements, locale) {
                if (_.isObject(this.$lang) && this.$lang.has(key)) {
                    return this.$lang.get(key, replacements, locale)
                }

                switch (_.last(key)) {
                    case 'action':
                        return "Action"
                    case 'delete':
                        return "Delete"
                    case 'update':
                        return "Update"
                }
            },
            setData: function (response) {
                var vm = this
                if (vm.dataUrl != null) {
                    if (vm.columns != null) {
                        vm.setColumns(vm.columns)
                    } else {
                        if (vm.paginate) {
                            //vm.setColumns(vm.filterKeys(response.body.data, 0))
                            vm.$set(vm, 'dataColumns', vm.filterKeys(response.body.data, 0))
                        } else {
                            //vm.setColumns(vm.filterKeys(response.body, 0))
                            vm.$set(vm, 'dataColumns', vm.filterKeys(response.body, 0))
                        }
                    }
                    if (vm.paginate) {
                        vm.$set(vm.dataEntry, 'data', vm.filterNulls(response.body.data));
                        var paginate = response.body;
                        vm.$set(vm.dataEntry, 'paginate', paginate);
                    } else {
                        vm.$set(vm.dataEntry, 'data', vm.filterNulls(response.body));
                    }
                } else {
                    vm.setColumns(vm.columns)
                    //vm.$set(vm, 'dataColumns', vm.columns);
                    if (vm.paginate) {
                        vm.$set(vm.dataEntry, 'data', vm.entry.data);
                        vm.$set(vm.dataEntry, 'paginate', vm.entry.paginate);
                    } else {
                        vm.$set(vm.dataEntry, 'data', vm.entry);
                    }
                }
            },
            setColumns(columns) {
                var vm = this
                if (!vm.$options.filters.isKeysNumber(columns)) {
                    vm.$data.isCustomColumnsName = true
                    vm.$set(vm.dataColumns, 'name', _.keys(vm.columns));
                    vm.$set(vm.dataColumns, 'keys', vm.columns);
                } else {
                    vm.$data.isCustomColumnsName = false
                    vm.$set(vm, 'dataColumns', vm.columns);
                }
            },
            getData(url = null) {
                var vm = this
                if (url !== null) {
                    vm.$http.get(url).then(function (response) {
                        vm.setData(response)
                    }, function (error) {
                        Console.log(error)
                    })
                } else {
                    vm.$http.get(vm.dataUrl).then(function (response) {
                        vm.setData(response)
                    }, function (error) {
                        Console.log(error)
                    })
                }
            },
            numberToArray(number) {
                var array = [];
                for (var i = (number - (number - 1) + 1); i < number; i++) {
                    array.push(i)
                }
                return array;
            },
            sort: function () {

            },
            filterNulls (obj) {
                var isArray = obj instanceof Array;
                for (var k in obj) {
                    if (obj[k] === null) obj[k] = "";
                    else if (typeof obj[k] == "object") this.filterNulls(obj[k]);
                    if (isArray && obj.length == k) this.filterNulls(obj);
                }
                return obj;
            },
            filterKeys (data, depth) {
                var keys = [];
                var tmp_keys = [];

                _.forEach(data, function(value, key) {
                    keys.push(_.keys(value))
                });
                _.forEach(keys[depth], function (value, key) {
                    tmp_keys.push(value)
                    keys = tmp_keys
                });

                return keys;
            },
            actions: function (data) {
                if (!this.actionsColumn && typeof this.$parent.actions === 'function') {
                    this.$parent.actions(data)
                }
            },
            update: function (data) {
                typeof this.$parent.update === 'function' ? this.$parent.update(data) : false;
            },
            destroy: function (data) {
                typeof this.$parent.destroy === 'function' ? this.$parent.destroy(data) : false;
            },
            refreshData() {
                this.getData();
                this.refreshCount++
            },
            columnData(value, key)
            {
                var data = value;
                var key = _.toPath(key)
                var tmp_array_data = null

                _.forEach(key, function(oneKey) {
                    if(data[oneKey] == undefined) {
                        data = undefined
                    } else if (Array.isArray(data[oneKey])) {
                        var ddResult = [];
                        _.forEach(data[oneKey], function (deptData) {
                            var dd = deptData[_.last(key)]
                            if (dd != 'undefined') {
                                ddResult.push(dd)
                            }
                        })
                        tmp_array_data = ddResult.join()
                    } else {
                        data = data[oneKey]
                    }
                })

                return tmp_array_data !== null ? tmp_array_data : data;
            },
            indexPageUrl(index)
            {
                var vm = this

                var url = "";
                if (vm.$data.dataEntry.paginate.next_page_url != null) {
                    url = vm.$data.dataEntry.paginate.next_page_url
                    vm.$set(vm.$data, 'current_data_url', url)
                } else {
                    url = vm.$data.current_data_url
                }
                if (vm.$data.dataEntry.paginate.next_page_url == null && vm.$data.dataEntry.paginate.prev_page_url == null) {
                    url = vm.dataUrl + '?page=' + index
                }
                url = url.replace(/page=(\d+)/ig, 'page=' + index) //([page=])(\d+)(?=#)

                return url
            }
        },
        filters: {
            columnize: function (value) {
                var value = _.last(_.toPath(value))
                if (_.includes(value, '_')) {
                    return _.capitalize(_.replace(value, '_', ' '))
                } else {
                    return _.capitalize(value)
                }
            },
            capitalize: function (value) {
                return _.capitalize(value)
            },
            isKeysNumber: function (array) {
                var isKeysNumber = null
                if (typeof array == 'object' || 'array') {
                    for (var key in array) {
                        key.match(/\D/g) == null ? isKeysNumber = true : isKeysNumber = false
                    }
                }
                return isKeysNumber
            }
        },
        created() {
        },
        mounted() {
            this.getData(null)
            this.$feel.event.$on('getDataTable', this.getData)
            this.$feel.event.$on('refreshData', this.refreshData)
        }
    }
</script>