/**
  Font Awesome
 */
.fa-col-pink {
  color: #c7254e;
}

/**
  App Custom
 */
.my-menu {

}
.my-menu > div {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.my-menu > div > p {
  text-align: center;
  color: whitesmoke;
  font-size: x-large;
}
.my-menu > div > span {
  text-align: center;
  color: whitesmoke;
  font-size: large;
}

.smart-table-pagination {
  padding-left: 4%;
  margin: auto auto 15px;
}
.smart-table-pagination ul {
  margin-bottom: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  background-color: $navbar-default-bg;
  border-radius: $border-radius-small;
  border: 1px solid $navbar-default-border;
  position: absolute;
  //margin-top: $navbar-margin-bottom;
  padding: $navbar-padding-vertical $navbar-padding-horizontal 0 $navbar-padding-horizontal;
  bottom: 0;
  width: 100%;
}