<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>{{ lang('alias.tiket.ku.create.detail') }}</p>
                    <button type="button" class="btn btn-info" v-on:click="clearData()">{{ lang('button.reset.form') }}</button>
                </blockquote>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.tiket.ku.create.create') }}</div>
                    <div class="panel-body">
                        <div class="alert alert-success" v-if="success">
                            <span>{{ lang('messages.success.tiket.create.title') }}</span>
                        </div>
                        <div class="alert alert-danger" v-if="errors != 0">
                            <ul v-for="error in errors">
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                        <form v-bind:action="baseUrl" v-on:submit.prevent="onSubmit" method="post">
                            <div class="form-group">
                                <label for="namaPelapor">{{ lang('form.tiket.nama_pelapor.title') }}</label>
                                <input v-model="tiket.nama_pelapor" type="text" class="form-control" id="namaPelapor" v-bind:placeholder="lang('form.tiket.nama_pelapor.detail')">
                            </div>
                            <div class="form-group">
                                <label for="namaTiket">{{ lang('form.tiket.judul.title') }}</label>
                                <input v-model="tiket.nama_tiket" type="text" class="form-control" id="namaTiket" v-bind:placeholder="lang('form.tiket.judul.detail')">
                            </div>
                            <div class="form-group">
                                <label for="deskripsiTiket">{{ lang('form.tiket.deskripsi.title') }}</label>
                                <textarea v-model="tiket.deskripsi_tiket" class="form-control" id="deskripsiTiket" v-bind:placeholder="lang('form.tiket.deskripsi.detail')"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="kategoriTiket">{{ lang('form.tiket.kategori.select') }}</label>
                                <select v-model="tiket.kategori_tiket" v-on:click="getOptions" class="form-control" id="kategoriTiket" multiple>
                                    <option v-for="option in o_kategori_tiket" v-bind:value="option.id">
                                        {{ option.nama_kategori }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="unitKerja">{{ lang('form.tiket.unit_kerja.select') }}</label>
                                <select v-model="tiket.unit_kerja" v-on:click="getOptions" class="form-control" id="unitKerja">
                                    <option :value="null">{{ lang('form.tiket.unit_kerja.select') }}</option>
                                    <option v-for="option in o_unit_kerja"
                                            v-bind:value="option.id">
                                        {{ option.nama }} - {{ option.deskripsi }}
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">{{ lang('button.submit.tiket') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                baseUrl: "/tiket/",
                success: false,
                errors: [],
                tiket: {
                    nama_pelapor: "",
                    nama_tiket: "",
                    deskripsi_tiket: "",
                    kategori_tiket: [],
                    unit_kerja: [],
                },
                o_kategori_tiket: [],
                o_unit_kerja: []
            }
        },
        watch: {
            tiket: {
                kategori_tiket: function () {
                    this.getOptions()
                },
                unit_kerja: function () {
                    this.getOptions()
                }
            }
        },
        methods: {
            onSubmit() {
                var vm = this
                vm.$http.post(vm.baseUrl + 'ku', vm.tiket).then( response => {
                    vm.success = true
                    $.notify({
                        title: "<strong>" + vm.lang('messages.success.tiket.create.title') + "</strong>",
                        message: vm.lang('messages.success.tiket.create.redirect.laporanku'),
                        url: vm.baseUrl + "ku"
                    }, {
                        type: 'success'
                    })
                    vm.clearData()
                }, error => {
                    vm.$set(vm, 'errors', error.data)
                });
            },
            getOptions() {
                var vm = this
                vm.$http.get(vm.baseUrl+'ku/index/options?kategori=true&unitkerja=true').then( response => {
                    vm.$set(vm, 'o_unit_kerja', response.body.unitKerja)
                    vm.$set(vm, 'o_kategori_tiket', response.body.kategori)
                })
            },
            addKategori() {

            },
            clearData() {
                this.errors = []
                this.tiket.nama_pelapor = ""
                this.tiket.nama_tiket = ""
                this.tiket.deskripsi_tiket = ""
                this.tiket.kategori_tiket = []
                this.tiket.unit_kerja = null
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        },
        mounted() {
            this.clearData()
            this.getOptions()
        }
    }
</script>