<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <blockquote>
                    <p>ID - {{ lang('alias.tiket.ku.ku') }} - {{ tiketId }}</p>
                    <button type="button" class="btn btn-info" v-on:click="refreshData()">{{ lang('button.refresh') }}</button>
                </blockquote>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="tabel table-condensed" >
                            <tbody>
                                <tr>
                                    <td>{{ lang('form.tiket.id') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.id }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.user.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.user.name }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.nama_pelapor.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.nama_pelapor }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.prioritas.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.prioritas_tiket }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.status.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.status_tiket }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.created_at.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.created_at }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.updated_at.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.updated_at }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.judul.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.nama_tiket }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.deskripsi.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.deskripsi_tiket }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.unit_kerja.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.unit_kerja.nama }} - {{ tiket.get.unit_kerja.deskripsi }}</td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.kategori.title') }}</td>
                                    <td>:</td>
                                    <td>
                                        <span v-for="kategori in tiket.get.kategori"
                                              style="margin-right:2px;"
                                              class="label label-default">
                                            {{ kategori.nama_kategori }} - {{ kategori.deskripsi_kategori }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.teknisi.title') }}</td>
                                    <td>:</td>
                                    <td>
                                        <span v-for="teknisi in tiket.get.teknisi"
                                              style="margin-right:2px;"
                                              class="label label-default">
                                            {{ teknisi.name }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ lang('form.tiket.vote.title') }}</td>
                                    <td>:</td>
                                    <td>{{ tiket.get.vote_tiket }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.tiket.show.kesimpulan.kesimpulan') }}</div>
                    <div class="panel-body">
                        <table class="tabel table-condensed">
                            <tbody>
                            <tr>
                                <td>{{ lang('form.tiket.kesimpulan.analisis.title') }}</td>
                                <td>:</td>
                                <td>{{ tiket.get.solution.analisis }}</td>
                            </tr>
                            <tr>
                                <td>{{ lang('form.tiket.kesimpulan.solusi.title') }}</td>
                                <td>:</td>
                                <td>{{ tiket.get.solution.solusi }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.tiket.show.info.info') }}</div>
                    <div class="panel-body">
                        <div class="col-md-12" v-for="info in tiket.get.tiket_info">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4>
                                        {{ info.status_info }} -
                                        <small>
                                            <span class="label label-info">{{ info.created_at }}</span>
                                            <span class="label label-success">{{ info.updated_at }}</span>
                                        </small>
                                    </h4>
                                    <p>{{ info.deskripsi_info }}</p>
                                    <span>{{ info.user.name }}</span>
                                </div>
                                <div class="panel-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            tiketId: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                baseUrl: "/tiket/ku/",
                tiket: {
                    get: {
                        user: [],
                        nama_pelapor: "",
                        kategori: [],
                        teknisi: [],
                        tiketInfo: [],
                        solution: [],
                        unit_kerja: []
                    }
                }
            }
        },
        watch: {
        },
        methods: {
            getTiket() {
                var vm = this
                vm.$http.get(vm.baseUrl + "index/find/" + this.tiketId).then(response => {
                    if(_.isEmpty(response.body)) { this.redirectTo(this.$data.baseUrl) }
                    vm.$set(vm.tiket, 'get', vm.$root.filterNulls(response.body))
                }, error => {
                    console.log(error)
                })
            },
            refreshData() {
                this.getTiket()
                this.$feel.event.$emit('refreshData')
            },
            redirectTo(url) {
                this.$parent.redirectTo(url)
            },
            notify(title, message, status) {
                this.$parent.notify(title, message, status)
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        },
        mounted() {
            this.refreshData()
        }
    }
</script>