<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <blockquote>
                    <p>{{ lang('alias.tiket.ku.ku') }}</p>
                    <button type="button" class="btn btn-info" v-on:click="refreshData()">{{ lang('button.refresh') }}</button>
                    <button type="button" class="btn btn-info" v-on:click="redirectTo('/tiket/ku/create')">{{ lang('button.create.tiket') }}</button>
                </blockquote>

                <data-filters :base-url="data.baseUrl+'index/data'"></data-filters>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.tiket.tiket') }} Data</div>
                    <smart-data-table
                            :columns="smartDataTable.columns"
                            :data-url="data.baseUrl+'index/data'"
                            :paginate="true"
                            :actions-column="false"
                    ></smart-data-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SmartDataTable from '../../SmartDataTable.vue';
    import dataFilters from '../../DataFilters.vue';

    export default {
        components: {
            SmartDataTable, dataFilters
        },
        data() {
            var vm = this
            return {
                data: {
                    baseUrl: "/tiket/ku/",
                },
                smartDataTable: {
                    columns: {
                        [vm.lang('form.tiket.id')]: 'id',
                        [vm.lang('form.tiket.user_id.title')]: 'user_id',
                        [vm.lang('form.tiket.nama_pelapor.title')]: 'nama_pelapor',
                        [vm.lang('form.tiket.judul.title')]: 'nama_tiket',
                        [vm.lang('form.tiket.status.title')]: 'status_tiket',
                        [vm.lang('form.tiket.prioritas.title')]: 'prioritas_tiket',
                        [vm.lang('form.tiket.unit_kerja.title')]: 'unit_kerja.nama',
                        [vm.lang('form.tiket.created_at.title')]: 'created_at',
                        [vm.lang('form.tiket.updated_at.title')]: 'updated_at'
                    }
                }
            }
        },
        methods: {
            actions(data) {
                window.location.href = this.data.baseUrl + data.id
            },
            refreshData() {
                this.$feel.event.$emit('refreshData');
            },
            redirectTo(url) {
                this.$parent.redirectTo(url)
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        }
    }
</script>