<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">{{ lang('alias.tiket.show.info.info') }}</div>
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ lang('alias.menu.home') }}</a></li>
                    <li role="presentation"><a href="#add" aria-controls="add" role="tab" data-toggle="tab" v-on:click="clearData()">{{ lang('alias.menu.add') }}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <hr>
                        <div class="col-md-12" v-for="info in tiketInfo.get">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4>
                                        {{ info.status_info }} -
                                        <small>
                                            <span class="label label-info">{{ info.created_at }}</span>
                                            <span class="label label-success">{{ info.updated_at }}</span>
                                        </small>
                                    </h4>
                                    <p>{{ info.deskripsi_info }}</p>
                                    <span>{{ info.user.name }}</span>
                                </div>
                                <div class="panel-footer" v-if="Auth.user.id == info.user.id">
                                    <button type="button" class="btn btn-info btn-sm" v-on:click="update(info)">{{ lang('button.confirmation.update') }}</button>
                                    <button type="button" class="btn btn-danger btn-sm" v-on:click="destroy(info)">{{ lang('button.confirmation.delete') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="add">
                        <hr>
                        <div class="col-md-12">
                            <div class="alert alert-danger" v-if="errors != 0">
                                <ul v-for="error in errors">
                                    <li>{{ error }}</li>
                                </ul>
                            </div>
                            <form id="add-tiket-info" class="form-horizontal" role="form" v-on:submit.prevent="submitInfo()">
                                <div class="form-group">
                                    <label class="sr-only" for="statusInfo">{{ lang('form.tiket.info.status.title') }}</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-addon">{{ lang('form.tiket.info.status.title') }}</div>
                                            <input v-model="tiketInfo.set.status_info"
                                                   type="text" class="form-control" id="statusInfo" v-bind:placeholder="lang('form.tiket.info.status.detail')">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="deskripsiInfo">{{ lang('form.tiket.info.deskripsi.title') }}</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-addon">{{ lang('form.tiket.info.deskripsi.title') }}</div>
                                            <textarea v-model="tiketInfo.set.deskripsi_info"
                                                      type="text" class="form-control" id="deskripsiInfo" v-bind:placeholder="lang('form.tiket.info.deskripsi.detail')">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-info">{{ lang('button.submit.submit') }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <modal name-id="updateInfo" v-bind:name="lang('alias.tiket.show.info.modal.update')">
            <template slot="modal-body">
                <form id="edit-tiket-info" class="form-horizontal" role="form" v-on:submit.prevent>
                    <div class="form-group">
                        <label class="sr-only" for="statusInfo">{{ lang('form.tiket.info.status.title') }}</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">{{ lang('form.tiket.info.status.title') }}</div>
                                <input v-model="tiketInfo.set.status_info"
                                       type="text" class="form-control" id="statusInfo" v-bind:placeholder="lang('form.tiket.info.status.detail')">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="deskripsiInfo">{{ lang('form.tiket.info.deskripsi.title') }}</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">{{ lang('form.tiket.info.deskripsi.title') }}</div>
                                <textarea v-model="tiketInfo.set.deskripsi_info"
                                          type="text" class="form-control" id="deskripsiInfo" v-bind:placeholder="lang('form.tiket.info.deskripsi.detail')">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-info" v-on:click="yesUpdate()">{{ lang('button.confirmation.update') }}</button>
            </template>
        </modal>

        <modal name-id="destroyInfo" v-bind:name="lang('alias.tiket.show.info.modal.delete')">
            <template slot="modal-body">
                <p class="text-danger">{{ lang('messages.modal.tiket.show.info.delete', { info: tiketInfo.set.status_info }) }}</p>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-danger" v-on:click="yesDestroy()">{{ lang('button.confirmation.delete') }}</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import Modal from '../../../components/Modal.vue'

    export default {
        components: {
            Modal
        },
        props: {
            tiketBaseUrl: {
                type: String,
                required: true
            },
            tiketId: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                Auth: this.$root.getAuth(),
                baseUrl: this.tiketBaseUrl + this.tiketId + '/' + 'info/',
                errors: [],
                tiketInfo: {
                    get: {

                    },
                    set: {
                        status_info: null,
                        deskripsi_info: null
                    }
                }
            }
        },
        computed: {
        },
        methods: {
            getAllInfo() {
                var vm = this
                vm.$http.get(vm.baseUrl + 'index/data').then(response => {
                    vm.$set(vm.tiketInfo, 'get', response.body)
                });
            },
            submitInfo() {
                var vm = this
                vm.$http.post(vm.baseUrl, vm.tiketInfo).then(response => {
                    vm.notify(vm.tiketInfo.set.status_info, response.body.message, response.body.status);
                    this.clearData()
                    vm.refreshData()
                }, error => {
                    vm.$set(vm.$data, 'errors', error.data)
                    console.log(error)
                });
            },
            setCurrentData(data) {
                this.$set(this.tiketInfo, 'set', data)
            },
            update(data) {
                this.setCurrentData(data)
                $('#updateInfoModal').modal('show')
            },
            destroy(data) {
                this.setCurrentData(data)
                $('#destroyInfoModal').modal('show')
            },
            yesUpdate() {
                var vm = this
                vm.$http.put(vm.baseUrl + vm.tiketInfo.set.id, vm.tiketInfo).then(response => {
                    $('#updateInfoModal').modal('hide')
                    vm.notify(vm.tiketInfo.set.status_info, response.body.message, response.body.status);
                    vm.refreshData()
                }, error => {
                    vm.notify(vm.tiketInfo.set.status_info, error.body.message, error.body.status);
                    vm.$set(vm.$data, 'errors', error.data)
                    console.log(error)
                })
            },
            yesDestroy() {
                var vm = this
                vm.$http.delete(vm.baseUrl + vm.tiketInfo.set.id).then(response => {
                    $('#destroyInfoModal').modal('hide')
                    vm.notify(vm.tiketInfo.set.status_info, response.body.message, response.body.status);
                    vm.refreshData()
                }, error => {
                    vm.notify(vm.tiketInfo.set.status_info, error.body.message, error.body.status);
                    vm.$set(vm.$data, 'errors', error.data)
                    console.log(error)
                })
            },
            clearData() {
                this.$data.tiketInfo.set.status_info = null
                this.$data.tiketInfo.set.deskripsi_info = null
                this.$data.errors = []
            },
            refreshData() {
                this.getAllInfo()
            },
            notify(title, message, status) {
                this.$parent.notify(title, message, status)
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        },
        mounted() {
            this.$feel.event.$on('refreshData', this.refreshData);
        }
    }
</script>