<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <blockquote>
                    <p>{{ lang('alias.manage.confirmation.user.detail') }}</p>
                    <button type="button" class="btn btn-info" v-on:click="refreshData()">{{ lang('button.refresh') }}</button>
                </blockquote>

                <data-filters :base-url="data.baseUrl+'index/data'"></data-filters>

                <div class="panel panel-default">
                    <div class="panel-heading">{{ lang('alias.manage.confirmation.user.user') }} Data</div>
                    <smart-data-table
                            :columns="smartDataTable.columns"
                            :data-url="data.baseUrl+'index/data'"
                            :paginate="true">
                    </smart-data-table>
                </div>
            </div>
        </div>

        <modal name-id="actions" v-bind:name="lang('alias.manage.confirmation.user.modal.pending.title')">
            <template slot="modal-body">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>{{ lang('form.user.id.title') }}</td>
                        <td>:</td>
                        <td>{{ data.user.get.id }}</td>
                    </tr>
                    <tr>
                        <td>{{ lang('form.user.username.title') }}</td>
                        <td>:</td>
                        <td>{{ data.user.get.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ lang('form.user.email.title') }}</td>
                        <td>:</td>
                        <td>{{ data.user.get.email }}</td>
                    </tr>
                    <tr>
                        <td>{{ lang('form.user.work_unit.title') }}</td>
                        <td>:</td>
                        <td>{{ data.user.get.unit_kerja.nama }} - {{ data.user.get.unit_kerja.deskripsi }}</td>
                    </tr>
                    <tr>
                        <td>{{ lang('form.user.role.title') }}</td>
                        <td>:</td>
                        <td v-for="role in data.user.get.roles">
                            <span class="label label-info">{{ role.id }} - {{ role.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ lang('form.user.active.title') }}</td>
                        <td>:</td>
                        <td>{{ data.user.get.active }}</td>
                    </tr>
                    <tr>
                        <td>{{ lang('form.user.created_at.title') }}</td>
                        <td>:</td>
                        <td>{{ data.user.get.created_at }}</td>
                    </tr>
                    <tr>
                        <td>{{ lang('form.user.updated_at.title') }}</td>
                        <td>:</td>
                        <td>{{ data.user.get.updated_at }}</td>
                    </tr>
                    <tr>
                        <td>{{ lang('form.user.deleted_at.title') }}</td>
                        <td>:</td>
                        <td>{{ data.user.get.deleted_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-success" v-on:click="yesAccept(data.user)">{{ lang('button.confirmation.accept') }}</button>
                <button type="button" class="btn btn-danger" v-on:click="decline(data.user)">{{ lang('button.confirmation.decline') }}</button>
            </template>
        </modal>

        <modal name-id="decline" v-bind:name="lang('alias.manage.confirmation.user.modal.decline.title')">
            <template slot="modal-body">
                <p class="text-info">
                    {{ lang('messages.modal.user.confirmation.decline.title', { id: data.user.get.id, name: data.user.get.name }) }}
                </p>
            </template>
            <template slot="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="refreshData()">{{ lang('button.confirmation.cancel') }}</button>
                <button type="button" class="btn btn-danger" v-on:click="yesDecline(data.user)">{{ lang('button.confirmation.decline') }} - {{ lang('button.confirmation.delete') }}</button>
            </template>
        </modal>
    </div>
</template>

<script>
    import smartDataTable from '../../SmartDataTable.vue';
    import dataFilters from '../../DataFilters.vue';
    import Modal from '../../Modal.vue';

    export default {
        components: {
            smartDataTable, dataFilters, Modal
        },
        data() {
            var vm = this
            return {
                data: {
                    baseUrl: '/manage/confirmation/users/',
                    user: {
                        get: {
                            id: null,
                            name: String,
                            email: String,
                            active: null,
                            roles: {},
                            created_at: null,
                            updated_at: null,
                            deleted_at: null,
                            unit_kerja: []
                        },
                        set: {

                        }
                    }
                },
                smartDataTable: {
                    columns: {
                        [vm.lang('form.user.id.title')]: 'id',
                        [vm.lang('form.user.username.title')]: 'name',
                        [vm.lang('form.user.email.title')]: 'email',
                        [vm.lang('form.user.work_unit.title')]: 'unit_kerja.nama',
                        [vm.lang('form.user.active.title')]: 'active',
                        [vm.lang('form.user.created_at.title')]: 'created_at',
                        [vm.lang('form.user.updated_at.title')]: 'updated_at',
                        [vm.lang('form.user.deleted_at.title')]: 'deleted_at'
                    }
                }
            }
        },
        watch: {
            'data.user.get': function (data) {
                this.data.user.set = data
            }
        },
        methods: {
            setCurrentUser: function (data) {
                var vm = this
                vm.$set(vm.data.user, 'get', data)
            },
            actions: function (data) {
                this.setCurrentUser(data)
                $('#actionsModal').modal('show')
            },
            decline: function (data) {
                $('#declineModal').modal('show')
            },
            yesAccept: function (data) {
                var vm = this
                vm.$http.put(vm.$data.data.baseUrl + data.get.id, data).then(response => {
                    vm.notify(data.get.name, response.body.message, response.body.status)
                    $('#actionsModal').modal('hide')
                    vm.refreshData()
                }, error => {
                    vm.notify(data.get.name, error.body.message, error.body.status)
                    console.log(error)
                    vm.refreshData()
                })
            },
            yesDecline: function (data) {
                var vm = this
                vm.$http.delete(vm.$data.data.baseUrl + data.get.id).then(response => {
                    vm.notify(data.get.name, response.body.message, response.body.status)
                    $('#declineModal').modal('hide')
                    $('#actionsModal').modal('hide')
                    vm.refreshData()
                }, error => {
                    vm.notify(data.get.name, error.body.message, error.body.status)
                    console.log(error)
                    vm.refreshData()
                })
            },
            clearData: function () {
                var vm = this
                vm.data.user.set = [];
            },
            refreshData: function () {
                this.$feel.event.$emit('refreshData')
                this.clearData()
            },
            redirectTo(url) {
                this.$parent.redirectTo(url)
            },
            notify(title, message, status) {
                this.$parent.notify(title, message, status)
            },
            lang(key, replacements, locale) {
                return this.$lang.get(key, replacements, locale)
            }
        }
    }
</script>